/TODO
/Latex/examples
Latex/TODO
Latex/**/*.out
Latex/**/*.aux
Latex/**/*.fdb_latexmk
Latex/**/*.fls
Latex/**/*.log
Latex/**/*.synctex.gz
Latex/**/*.xdv
Latex/**/*.dvi
Latex/**/*.pdf
Latex/**/*.toc
Latex/**/*.cut
Latex/**/*.synctex\(busy\)

Latex/LECTURE/**/*.out
Latex/LECTURE/**/*.aux
Latex/LECTURE/**/*.fdb_latexmk
Latex/LECTURE/**/*.fls
Latex/LECTURE/**/*.log
Latex/LECTURE/**/*.synctex.gz
Latex/LECTURE/**/*.dvi
Latex/LECTURE/**/*.xdv
Latex/LECTURE/**/*.pdf
Latex/LECTURE/**/*.toc
Latex/LECTURE/**/*.cut
Latex/LECTURE/**/*.synctex\(busy\)


Markdowns/TODO
Markdowns/**/*.pdf
